<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>

    <add name="PromantusDBEntities" connectionString="metadata=res://*/PromantusDBEntity.csdl|res://*/PromantusDBEntity.ssdl|res://*/PromantusDBEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-8L0L4HU;initial catalog=PromantusDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>